global:
  resolve_timeout: 5m

route:
  receiver: "default"
  group_by: ["alertname", "cluster", "service"]
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h

  routes:
    - match:
        severity: critical
      receiver: "critical"
      repeat_interval: 5m

    - match:
        severity: warning
      receiver: "warning"
      repeat_interval: 1h

receivers:
  - name: "default"

  - name: "critical"

  - name: "warning"

inhibit_rules:
  - source_match:
      severity: "critical"
    target_match:
      severity: "warning"
    equal: ["alertname", "dev", "instance"]
